<p>Formulaire</p>

<form method="POST" action="traitement.php">
    <p>Mon formulaire</p>
    <B>Bienvenue!</B>
<p>
    <label>Votre pseudo</label> : <input type="text" name="pseudo" id="pseudo"/><br />
    <label for="pass">Votre mot de passe : 

    </label>
    <input type="password" name="pass" id="pass"/></p> <br/>

</label>
    <label for="email">Votre email : 

    <input type="email"/><br />
    </label>

<label>
    <label for="number">Pour siasir un nombre : 
        <input type="number" /><br />
    </label>  
    <label>
        <label for="tel">Telephone : 
            <input type="tel" /><br />
        </label>
        <label>
            <label for="date">Date : 
                <input type="date" /><br />
            </label>   
<p>
    <B>Cocher les aliments que vous aimez :</B> <br />
    <input type="checkbox" name="banane" id="banane" /><label for="banane">Banane</label><br />
    <input type="checkbox" name="pomme" id="pomme" /><labelfor="pomme">Pomme Rouge</label><br />
    <input type="checkbox" name="orange" id="orange" /><label for="orange">Orange</label><br />
    <input type="checkbox" name="mangue" id="mangue" /><label for="mangue">Mangue</label>

</p>
<p>
   <B> Veuillez indiquer la tranche d'age dans la quelle vous vous situez :</B><br />
    <input type="radio" name="age" value="moins18" id="moins18" /> <label for="moins18">Moins de 18ans</label><br />
    <iput type="radio" name="age" value="medium18-26" id="medium18-26" /> <label for="medium18-26">18-26 ans</label><br />
    <input type="radio" name="age" value="medium30-40" id="medium30-40" /> <label for="medium30-40">30-40 ans</label><br />
    <input type="radio" name="age"  value="plus40" id="plus40" /> <label for="plus40">Encore plus vieux que ca ?</label>
</p>
<p>
    <B>Sur quel continent habitez-vous ?</B><br />
    <input type="radio" name="continent" value="europe" id="europe" /><label for="europe">Europe</label><br />
    <input type="radio" name="continent" value="afrique" id="afrique" /><label for="afrique">Afrique</label><br />
    <input type="radio" name="continent" value="asie" id="asie" /><label for="asie">Asie</label><br />
    <input type="radio" name="continent" id="amerique" id="amerique" /><label for="amerique">Amerique</label><br />
</p>
<B>Dans quel pays habitez-vous ?</B><br />
<select name="pays" id="pays">
    <option value="mali" id="pays">Mali</option><optgroup label="Afrique"></outgrop>
    <option value="france" id="pays">France</option><optgroup label="Europe"></optgroup>
    <option value="canada" id="pays">Canada</option><optgroup label="Amerique"></optgroup>
    <option value="chine" id="pays">Chine</option><optgroup label="Asie"></optgroup>

</select>
</p>
<fieldset>
    <legend><B>Vos cordonnees</B></legend><!-- titre du fieldset-->
    <label for="nom">Quel est votre nom?</label> 
    <input type="text" name="Nom" id="nom" required/>
    <label for="prenom">Quel est votre prenom?</label>
    <input type="text" name="Prenom" id="prenom" required />
    <label for="email">Quel est votre e-mail</label>
    <input type="email" name="Email" id="email" required />

</fieldset>
<fieldset>
    <legend><B>Votre souhait</B></legend> <!--titre du fieldset-->
    <p>
        Fait un souhait que vous voudriez voir exauce: 
        <input type="radio" name="souhait" value="riche" id="riche" /> <label for="riche">Etre riche</label><br />
        <input type="radio" name="souhait" value="celebre" id="celebre" /> <label for="celebre">Etre celebre</label><br />
        <input type="radio" name="souhait" value="intelligent" id="intelligent"/><label for="intelligent">Etre <strong>encore</strong>plus intelligent</label><br />
        <input type="radio" name="souhait" value="autre" id="autre"/> <label for="autre">Autre...</label><br />
    </p>
    <p>
         <label for="precisions">Si "Autre" Veuillez precisez : </label>
         <textarea name="precisions" cols="40" rows="4"></textarea>
    </p>
    <p>
        <input type="submit" value="Envoyer" />
    </p>

</fieldset>

</p>

</form>
